@import "./libs";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: $DARK;
  color: $LIGHT;
  padding: 0.5em 1em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.webtoon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50em;
  gap: 1.5em;
  list-style: none;
}

.webtoon-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  color: $LIGHT;
  text-decoration: none;
  > svg {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    border-radius: $borderRadius;
    margin: 0.4em;
    box-shadow: $boxShadow;
  }
}

.thumbnail {
  flex: 1;
  object-fit: cover;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  background-color: darken($LIGHT, 5%);
}

.info-wrap {
  width: 10em;
  background-color: $DARK;
  padding: 0.5em;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.webtoon {
  width: 10em;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  transition: box-shadow 0.2s ease-in-out;
  @include hover {
    box-shadow: $boxShadowHover;
  }
}

::-webkit-scrollbar {
  display: none;
}
