.fan-count-badge {
  z-index: 2;
  position: absolute;
  right: 0;
  padding: 0 0.5em;
  background-color: #ec449b;
  margin-bottom: 0.5em;
  bottom: 0;
  font-weight: 700;
  font-size: 0.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
}
