@import "../libs";
.platform-collapse {
  position: absolute;
  right: 1em;
  border-radius: $BORDER_RADIUS;
  background-color: $LIGHT;
  box-shadow: $BOX_SHADOW;
  z-index: 4;
}
.search-collapse {
  background-color: $LIGHT;
}

.platform-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
  margin: 0;
  > li {
    > a {
      font-size: 1.2em;
      display: flex;
      gap: 0.5em;
    }
  }
}

.platform-icon {
  border-radius: 50%;
  border: 4px solid $SUB_TEXT;
  width: 1.5em;
  height: 1.5em;
}

.selected-platform {
  font-size: 1.4em;
}

.search-icon {
  fill: $LIGHT;
  width: 1.5em;
  height: 1.5em;
}

.navbar {
  border-bottom: 4px solid $SUB_TEXT;
}

.nav-button {
  margin: 0 0.8em;
}

.platform-button {
  font-size: 1.2em;
  display: flex;
  gap: 0.5em;
}
