@import "../libs";
.search-collapse {
  position: absolute;
  background-color: $LIGHT;
  width: 100%;
  z-index: 5;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: $BOX_SHADOW;
}

.close-button {
  > svg {
    fill: $DARK;
    width: 1em;
    height: 1em;
  }
}

.search-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0.8em;
  font-size: 1.2em;
}

.search-result {
  padding: 1em;
  padding-bottom: 4em;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 2em;
}

.match-keyword-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  padding: 0;
  margin: 0;
  gap: 0.5em;
}

.search-input-wrap {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
.search-input {
  background-color: $SUB_TEXT;
  border: none;
  width: 100%;
  border-radius: 500px;
  max-width: 30em;
  padding: 0.5em 1.5em;
  &:focus {
    outline: none;
  }
}

.searched-item-wrap {
  background-color: $DARK;
}

.searched-item {
  background-color: $LIGHT;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 0 0.4em;
  transition: margin-left 0.3s;
  @include hover {
    margin-left: 0.5em;
  }
}

.searched-title,
.searched-author {
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.searched-title {
  color: $DARK;
  &:hover {
    color: $DARK;
  }
}

.searched-author {
  background-color: $DARK;
  color: $LIGHT;
  border-radius: $BORDER_RADIUS;
  padding: 0.2em 0.4em;
  font-size: 0.7em;
  max-width: 15em;
  &:hover {
    color: $LIGHT;
  }
}

.final-webtoon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-width: 30em;
}
