@import "../libs";
.search-collapse {
  position: absolute;
  top: 0;
  background-color: $LIGHT;
  width: 100%;
  z-index: 5;
  box-shadow: $BOX_SHADOW;
}

.close-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 0.5em;
  > svg {
    fill: $DARK;
    width: 1em;
    height: 1em;
  }
}

.search-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
  font-size: 1.2em;
  border-bottom: 1px solid $LINE;
  width: 100%;
}

.search-contents {
  margin: 0;
  width: 100%;
  max-width: 40em;
  flex: 1;
  overflow: auto;
  padding: 1em;
}

.matching-keyword-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0.5em;
}

.search-input {
  border: $DARK 2px solid;
  width: 100%;
  border-radius: 500px;
  max-width: 30em;
  font-size: 0.9em;
  padding: 0.5em 1.5em;
  &:focus {
    outline: none;
  }
}

.searched-item-wrap {
  background-color: $DARK;
}

.searched-item {
  background-color: $LIGHT;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 0 0.4em;
  transition: margin-left 0.3s;
  @include hover {
    margin-left: 0.5em;
  }
}

.searched-title,
.searched-author {
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.searched-title {
  color: $DARK;
  &:hover {
    color: $DARK;
  }
}

.searched-author {
  background-color: $DARK;
  color: $LIGHT;
  border-radius: $BORDER_RADIUS;
  padding: 0.2em 0.4em;
  font-size: 0.7em;
  max-width: 15em;
  &:hover {
    color: $LIGHT;
  }
}

.matching-webtoon-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.search-loading {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.webtoon-list {
  padding: 0;
}
