@import "../libs";

.webtoon-link-wrap {
  padding: 0.6em;
  width: 25%;
  border: 0.5px solid $LINE;
  @include if-small-device {
    width: 33.3%;
  }
  > .webtoon-link {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: $BORDER_RADIUS;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    > svg {
      position: absolute;
      z-index: 2;
      width: 1.5em;
      height: 1.5em;
      top: 0;
      margin: 0.2em;
      border-radius: $BORDER_RADIUS;
    }
    @include remove-a-tag-style($LIGHT);
    @include hover {
      box-shadow: $BOX_SHADOW_HOVER;
    }
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 0.8em;
  padding: 0.5em;
  background-color: $DARK;
}

.thumbnail-wrap {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  > .thumbnail {
    background-color: $LIGHT;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.additional {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  margin: 0.2em;
  gap: 0.2em;
  > div {
    box-sizing: border-box;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: $BORDER_RADIUS;
  }
}

.new {
  background-color: #52bc1b;
  > span {
    font-weight: 500;
    font-size: 0.5em;
  }
}

.adult {
  background-color: #ff0000;
  > span {
    font-weight: 900;
    font-size: 0.8em;
  }
}

.rest {
  background-color: #7f8285;
  > span {
    font-weight: 500;
    font-size: 0.5em;
  }
}

.up {
  background-color: #ffc600;
  color: $DARK;
  > span {
    font-weight: 900;
    font-size: 0.5em;
  }
}
