@import "../../scss/libs";
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 4;
  background-color: black;
  align-items: center;
  width: 100%;
  box-shadow: 0 3px 6px rgba(black, 0.6);
}

.nav-bar-item-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40em;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.page-title {
  text-decoration: none;
  > h1 {
    margin: 0;
    padding-top: 0.2em;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
  }
}
