.update-day-bar {
  display: flex;
  gap: 0.5em;
  padding: 0;
  width: 100%;
  max-width: 25em;
}
.update-day-bar-item {
  flex: 1;
  text-align: center;
  > a {
    font-weight: 900;
    color: #afb1ae;
    text-decoration: none;
    transition: color 0.2s;
    &:hover,
    &.active {
      color: white;
    }
  }
}
